
@font-face {
    font-family: "Mona Sans Expanded";
    src: url("./assets/MonaSans.woff2");
    font-style: normal;
    font-stretch: expanded;
    font-weight: 100 900;
}

html {
    background-color: black;
    color: white;
    font-family: "Mona Sans Expanded", "system-ui";
    height: 100dvh;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
