@keyframes pulse {
    0% {
       font-weight: 100;
    }
    50% {
        font-weight: 900;
    }
    100% {
        font-weight: 100;
    }
}

.pulse {
}

.letter {
    font-size: 3rem;
    animation: pulse 3s infinite;
    animation-fill-mode: both;
}